.img-thumbnail {
    height: auto;
    max-width: 340px;
    margin: 20px auto;  
}
/* margin auto because of bootstrap card, we would normally text-align: center; the card and image would be centered */

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 15px 25px;
    background-color: #fff;
    border-top: none;
}

.card {
    margin-bottom: 50px;
}